body {
    background-image: url(/backgrounds/hall_of_sonic_index_desktop_bg.png);
    background-size: 100%, 100%;
    background-repeat: repeat;
    background-color: rgb(46, 46, 46);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

#wrapper2 {
    width: 85%;
    margin: 0 auto;
}

#wrapper1 {
    width: 70%;
    margin: 0 auto;
    
}

nav {
    word-spacing: 1.5em;
    font-size: 1.5em;
    font-family: "Comic Sans MS";
    text-align: center;
    margin: 10px;
    border: 2px solid yellow;
}

nav a {
    text-decoration: none;
}

nav li {
    display: inline-block;
}

nav a:link { color: yellow; }
nav a:visited { color: dodgerblue; }
nav a:hover { color: white; }

nav ul {
    padding: 0;
    margin: 0;
}

img {
    width: auto;
    height: 75%;
    background-color: transparent;
    display: inline-flex;
    margin: auto;
}

h1 {
    font-family: "Vipnagorgialla";
    font-size: 5.5em;
    padding-top: 0%;
    margin: auto;
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    background: url(/headerbgs/headerbg.png);
    background-repeat: repeat-x;
    background-size: 2.5em;
    color: yellow;
    -webkit-text-stroke: 4px black;
}

h2 {
    font-family: "Vipnagorgialla";
    font-size: 2em;
    -webkit-text-stroke: 1.5px black;
    margin-top: 2em;
    margin-bottom: -10px;
    text-align: center;
}

.nameLogo {
    height: 5.3em;
    width: auto;
    margin: auto;
}

p {
    font-family: "Comic Sans MS";
}

.char {
    font-family: "Comic Sans MS";
    width: 18em;
    float: left;
    padding: 20px;
    height: 25em;
    text-align: center;
    margin: auto;
    display: block;
    align-items: center;
}

.game {
    font-family: "Comic Sans MS";
    width: 18em;
    float: left;
    padding: 20px;
    height: 25em;
    text-align: center;
    margin: auto;
    display: block; 
}

footer {
    clear: left;
    font-size: .60em;
    font-style: italic;
    padding-top: 2em;
    text-align: center;
}

.error {
    font-size: 20px;
    margin: 10px;
    color: red;
    border: 2px solid red;
}

.success {
    font-size: 25px;
    margin: 12px;
    color: green;
    border: 2px solid green;
}

.liStuff {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
    color: black;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    background: #7ea;
    text-align: center;
    padding: 20px;
}

button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0;
    padding: 6px 10px;
}

.popup-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    color: black;
}

.popup a {
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.usernameSuccess {
    border: 4px solid green;
}

.usernameError {
    border: 4px solid red;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: #eee;
    padding: 10px;
    color: black;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.colorChanging {
    background-color: red;
    color: black;
    margin: 20px auto;
    max-width: 250px;
    padding: 10px;
    text-align: center;
}

.colorFront {
    margin: auto;
    background-color: white;
    padding: 10px;
}

.charTestDisplay {
    align-content: center;
}

.aligner {
    align-content: center;
}

.charTesting {
    width: 15em;
    padding: 10px;
    height: auto;
    margin: 20px auto;
    display: none;
    /*background-color: white;*/
    background-position: center;
}

#charScreen {
    /*background: white;*/
    float: left;
}

.charContainer {
    float: left;
}